<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="text-center"><%= title %></h1>
    <p class="text-center">Welcome to <%= title %></p>
  <div class="links-wrapper">
    <a href="/messages" class="link-item">
      Messages
    </a>
    <a href="/numbers" class="link-item">
      Average numbers calculator
    </a>
  </div>
  </body>
</html>
