.filters {
  display: flex;
  justify-content: flex-end;
}

.messagesList {
  margin: 20px 0;
}

.message-item {
  border: 1px solid silver;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px;
}

.message-author {
  font-size: 18px;
}

.message-text {
  font-size: 16px;
}

.message-date {
  font-size: 12px;
  color: #647f7f;
}
